{% extends 'layout.kmphtml.twig' %}
{% block title %}Bienseloger | Nos Contacts{% endblock %}
{% block contenu %}

    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title"><i class="fa fa-contao"> LES CONTACTS DE BIENSELOGER...</i></h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->
    <!-- property area -->
    <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
    <div class="container">

        <div class="text-center col-md-9">

            <div class="" id="contact1">
                <div class="row">
                    {#<div class="col-sm-4">#}
                    {#<h3><i class="fa fa-map-marker"></i> Addresses</h3>#}
                    {#<p>Angré 8<sup>ième</sup> Tranche#}
                    {#<br>Abidjan#}
                    {#<br>#}
                    {#<strong>Côte d'Ivoire</strong>#}
                    {#</p>#}
                    {#</div>#}
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <h3><i class="fa fa-phone"></i> Téléphone</h3>
                        <p class="text-muted"><strong>+225 000 000 0000</strong></p>
                        <p><strong>+225 000 000 0000</strong></p>
                    </div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <h3><i class="fa fa-envelope"></i> E-mail</h3>
                        <ul>
                            <li><strong><a href="mailto:">contact@bienseloger.immo</a></strong></li>
                        </ul>
                    </div>
                    <!-- /.col-sm-4 -->
                </div>
                <!-- /.row -->

                <hr>
                <h2>Notre formulaire de contact <strong><u style="font-weight: bold">...</u></strong></h2>
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="firstname">Nom</label>
                                <input type="text" class="form-control" id="firstname">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="lastname">Prénom</label>
                                <input type="text" class="form-control" id="lastname">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="subject">Objet</label>
                                <input type="text" class="form-control" id="subject">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="message">Messages</label>
                                <textarea id="message" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary" style="background-color: red !important; border-color: red !important;" ><i class="fa fa-envelope-o"></i>...Envoyer...<i class="fa fa-send"></i></button>
                        </div>
                    </div>
                    <!-- /.row -->
                </form>
            </div>
        </div>
        <!-- /.col-md-9 -->

        <div class="col-md-3 ">
            <div class="blog-asside-right">
                <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                    <div class="panel-heading">
                        <h3 class="panel-title">Récommandations</h3>
                    </div>
                    <div class="panel-body recent-property-widget">
                        <ul>
                            {% for homes_recom in house_recom %}
                                <li>
                                    <div class="col-md-3 blg-thumb p0">
                                        <a href="/detail_propriete?id={{ home_recom.idT_PRODUIT }}"><img src="files/proprietes/{{ homes_recom.ImageP }}"></a>
                                        <span class="property-seeker">
                                                <b class="b-1">A</b>
                                                <b class="b-2">S</b>
                                            </span>
                                    </div>
                                    <div class="col-md-8 blg-entry">
                                        <h6> <a href="single.html/detail_produits?id={{ home_recom.idT_PRODUIT }}">{{ homes_recom.Title }} </a></h6>
                                        <span class="property-price">{{ homes_recom.Prix |format_currency('XOF') }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}